@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@400;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}
.link {
  color: inherit;
  text-decoration: none;
}
button {
  background-color: $accent-main;
  border: none;
  color: $dark--text;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: $accent-main-hover;
  }
}
.iconActive {
  color: $accent-main;
}
.btn {
  cursor: pointer;
}
.btn--checkout {
  width: 100%;
  margin: 0;
  font-weight: 900;
  color: #222222;
}

.warning {
  color: red;
}
