@mixin flexCenter($direction, $spacing) {
  display: flex;
  justify-content: $spacing;
  align-items: center;
  flex-direction: $direction;
}
@mixin contentCenter {
  display: grid;
  place-items: center;
}
