$dark--bg: rgb(39, 39, 39);
$accent-main: #e8b400;
$accent-main-hover: #ffd000;
$good: rgb(29, 165, 29);
$warning: rgb(240, 96, 96);
$disabled: rgb(156, 156, 156);
$dark--text: rgb(43, 43, 43);
$light--text: rgb(235, 235, 235);
